

# --- Orders (HTTP) ---
PORT=3000

# --- Payments (gRPC) ---
PAYMENTS_GRPC_PORT=50051
# Timeout for orders Orders (ms)
PAYMENTS_GRPC_TIMEOUT_MS=5000
# Address for  gRPC client (from orders-service)
PAYMENTS_GRPC_BIND_URL=0.0.0.0:50051

# --- DB (for orders) ---
DB_HOST=your-db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_NAME=your-db-name

# --- DB (for payments-service) ---
PAYMENTS_DB_HOST=your-db
PAYMENTS_DB_PORT=5432
PAYMENTS_DB_USER=postgres
PAYMENTS_DB_PASSWORD=your-db-password
PAYMENTS_DB_NAME=your-payments-db-name

# --- Auth ---
JWT_SECRET=some-strong-secret
JWT_EXPIRES_IN=30m

# --- AWS / S3 ---
AWS_REGION=your-aws-region
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_BUCKET=your-bucket
AWS_ENDPOINT=your-endpoint
CLOUDFRONT_BASE_URL=your-url

# --- RabbitMQ ---
RABBIT_USER=guest
RABBIT_PASSWORD=guest
RABBIT_URL=amqp://guest:guest@rabbitmq:5672
RABBIT_QUEUE_ORDERS=orders.process
RABBIT_QUEUE_DLQ=orders.dlq
RABBIT_RETRY_COUNT=3
RABBIT_RETRY_DELAY=1000